* {
    margin: 0;
    padding: 0;
}
body {
    background: black;
    margin: 0;
    text-align: center;
}

header {
    height: 80px;
    background-color: rebeccapurple;
    color: white;
}
header h2 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.title {
    color: yellow;
    margin-top: 20px;
    margin-left: 30px;
}

.img-container {
    display: flex;
    align-items: center; 
    justify-content: center;  
}
